html,
body {
  height: 100%;
  background-color: #18191a;
}

main {
  height: 100%;
}

.four-container {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.fs-container {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.frame {
  height: 100%;
  width: 100%;
}

#frame-container {
  height: 100%;
  display: none;
  grid-gap: 10px;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loading-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Helvetica";
}
