<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA RedZone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/favicon.ico') }}"
    />
  </head>
  <body>
    <main>
      <div id="loading-screen">
        <h1 id="loading-text">Fetching live games...</h1>
      </div>
      <div id="frame-container"></div>
    </main>

    <script
      src="{{ url_for('static', path='/scripts.js') }}"
      charset="utf-8"
    ></script>
  </body>
</html>
