<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA RedZone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <main class="fourContainer">
      <iframe
        class="frame"
        id="one"
        frameborder="0"
        src="https://bestsolaris.com/solaris.php?postid=44665"
        allowfullscreen
        scrolling="yes"
        allowtransparency
      ></iframe>
      <iframe
        class="frame"
        id="two"
        frameborder="0"
        src="https://bestsolaris.com/solaris.php?postid=44667"
        allowfullscreen
        scrolling="yes"
        allowtransparency
      ></iframe>
      <iframe
        class="frame"
        id="three"
        frameborder="0"
        src="https://bestsolaris.com/solaris.php?postid=44579"
        allowfullscreen
        scrolling="yes"
        allowtransparency
      ></iframe>
      <iframe
        class="frame"
        id="four"
        frameborder="0"
        src="https://bestsolaris.com/solaris.php?postid=44666"
        allowfullscreen
        scrolling="yes"
        allowtransparency
      ></iframe>
    </main>

    <script
      src="{{ url_for('static', path='/scripts.js') }}"
      charset="utf-8"
    ></script>
  </body>
</html>
