<!doctype html>
<html lang="en">
  <head>
    <title>NBA RedZone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  </head>
  <body>
    <main>
      <div id="header">
        <div id="left-header">
          <p>Press ? for help</p>
          <button id="scroll-button">Scroll to streams</button>
        </div>
        <div id="title-box">
          <h1>NBA RedZone</h1>
          <h3>Watch all NBA games currently live for free</h3>
        </div>
        <div id="right-header">
          <p>
            Made with <span style="color: #e25555">&hearts;</span> by Paul
            Taylor
          </p>
          <a target="_blank" href="https://github.com/plt3/NBARedZone"
            >GitHub</a
          >
        </div>
      </div>
      <div id="popup-frame">
        <div id="popup"></div>
      </div>
      <div id="loading-screen">
        <h1 id="loading-text">Fetching live games...</h1>
      </div>
      <div id="frame-container"></div>
    </main>

    <script type="module" src="/static/keybinds.js" charset="utf-8"></script>
    <script type="module" src="/static/scripts.js" charset="utf-8"></script>
  </body>
</html>
